@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_sans/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open_sans/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_sans/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open_sans/OpenSans-SemiBold.ttf") format("truetype"); }
.font-family-bold {
  font-family: "OpenSans-Bold", "sans-serif"; }

.font-family-light {
  font-family: "OpenSans-Light", "sans-serif"; }

.font-family-regular {
  font-family: "OpenSans-Regular", "sans-serif"; }

.font-family-semi-bold {
  font-family: "OpenSans-SemiBold", "sans-serif"; }

.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: sub;
  mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  background-color: #939393; }
  .icon.icon-heart {
    mask-image: url("../icons/heart.svg");
    -webkit-mask-image: url("../icons/heart.svg"); }
  .icon.icon-play {
    mask-image: url("../icons/media-play-symbol.svg");
    -webkit-mask-image: url("../icons/media-play-symbol.svg"); }
  .icon.icon-basket {
    mask-image: url("../icons/shopping-cart.svg");
    -webkit-mask-image: url("../icons/shopping-cart.svg"); }
  .icon.icon-search {
    mask-image: url("../icons/search.svg");
    -webkit-mask-image: url("../icons/search.svg"); }
  .icon.icon-view {
    mask-image: url("../icons/eye.svg");
    -webkit-mask-image: url("../icons/eye.svg"); }
  .icon.icon-download {
    mask-image: url("../icons/download.svg");
    -webkit-mask-image: url("../icons/download.svg"); }
  .icon.icon-mail {
    mask-image: url("../icons/mail.svg");
    -webkit-mask-image: url("../icons/mail.svg"); }
  .icon.icon-phone {
    mask-image: url("../icons/phone.svg");
    -webkit-mask-image: url("../icons/phone.svg"); }
  .icon.icon-location {
    mask-image: url("../icons/map-pin.svg");
    -webkit-mask-image: url("../icons/map-pin.svg"); }
  .icon.icon-purple {
    background-color: #59077c; }
  .icon.icon-green {
    background-color: #05c954; }

body {
  background-color: #f1f1f1; }
  body .navbar .navbar-brand p {
    font-size: 10px; }
  body .navbar .input-group {
    width: 350px;
    margin-left: 100px; }
    body .navbar .input-group input, body .navbar .input-group button {
      background-color: #f1f1f1; }
  body .navbar .navbar-nav .nav-item:nth-child(2) {
    margin-right: 25px; }
  body header .carousel .carousel-inner .carousel-item .carousel-layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(89, 7, 124, 0.5); }
    body header .carousel .carousel-inner .carousel-item .carousel-layer h3 {
      color: #fff;
      width: 32vw;
      font-size: 2vw;
      margin-left: auto;
      margin-right: 8vw; }
  body header .carousel .carousel-indicators li {
    opacity: 1;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #fff; }
    body header .carousel .carousel-indicators li.active {
      background-color: #fff;
      border: none;
      width: 19px;
      height: 19px; }
  body main section#videos .nav .nav-item .nav-link {
    color: #858585;
    font-size: 18px;
    position: relative; }
    body main section#videos .nav .nav-item .nav-link:after {
      content: '';
      width: 0;
      height: 2px;
      background-color: #59077c;
      transition: all 0.1s linear;
      position: absolute;
      left: 0;
      bottom: 0; }
    body main section#videos .nav .nav-item .nav-link.active, body main section#videos .nav .nav-item .nav-link:hover {
      color: black; }
      body main section#videos .nav .nav-item .nav-link.active:after, body main section#videos .nav .nav-item .nav-link:hover:after {
        width: 100%; }
  body main section#videos .card a {
    top: 0;
    right: 10px; }
  body main section#videos .card .row {
    color: #858585;
    font-size: 12px; }
    body main section#videos .card .row .free {
      color: #05c954; }
    body main section#videos .card .row .money {
      color: #59077c; }
  body main section#books .container .nav .nav-item .nav-link {
    color: #858585;
    font-size: 18px;
    position: relative; }
    body main section#books .container .nav .nav-item .nav-link:after {
      content: '';
      width: 0;
      height: 2px;
      background-color: #59077c;
      transition: all 0.1s linear;
      position: absolute;
      left: 0;
      bottom: 0; }
    body main section#books .container .nav .nav-item .nav-link.active, body main section#books .container .nav .nav-item .nav-link:hover {
      color: black; }
      body main section#books .container .nav .nav-item .nav-link.active:after, body main section#books .container .nav .nav-item .nav-link:hover:after {
        width: 100%; }
  body main section#books .container .row {
    display: flex;
    justify-content: space-between; }
    body main section#books .container .row .col-sm-2\.2 {
      box-sizing: border-box; }
      body main section#books .container .row .col-sm-2\.2 .card {
        position: relative;
        overflow: hidden; }
        body main section#books .container .row .col-sm-2\.2 .card .aksiya {
          position: absolute;
          top: 8px;
          right: -31px;
          transform: rotate(45deg);
          font-size: 13px;
          z-index: 1;
          box-shadow: 0 0 5px dimgray; }
          body main section#books .container .row .col-sm-2\.2 .card .aksiya.pullik {
            color: #59077c; }
          body main section#books .container .row .col-sm-2\.2 .card .aksiya.bepul {
            color: #05c954; }
        body main section#books .container .row .col-sm-2\.2 .card .card-layer {
          position: relative; }
          body main section#books .container .row .col-sm-2\.2 .card .card-layer:hover {
            cursor: pointer; }
            body main section#books .container .row .col-sm-2\.2 .card .card-layer:hover .orqa-fon {
              opacity: 1;
              background-color: rgba(191, 227, 244, 0.5);
              height: 330px; }
          body main section#books .container .row .col-sm-2\.2 .card .card-layer .orqa-fon {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0; }
            body main section#books .container .row .col-sm-2\.2 .card .card-layer .orqa-fon .yurey {
              position: absolute;
              top: 150px;
              right: 45px;
              padding: 4px 10px; }
              body main section#books .container .row .col-sm-2\.2 .card .card-layer .orqa-fon .yurey .btn {
                background-color: white;
                border-radius: 22%;
                margin-right: 9px; }
                body main section#books .container .row .col-sm-2\.2 .card .card-layer .orqa-fon .yurey .btn .money {
                  background-color: #59077c;
                  width: 22px;
                  height: 22px; }
                body main section#books .container .row .col-sm-2\.2 .card .card-layer .orqa-fon .yurey .btn .free {
                  background-color: #05c954;
                  width: 22px;
                  height: 22px; }
        body main section#books .container .row .col-sm-2\.2 .card .row {
          color: #858585;
          font-size: 12px;
          padding-left: 6px;
          padding-right: 6px; }
  body main section#info {
    background-image: url("../images/bg_1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 170px;
    padding-bottom: 170px;
    color: #fff; }
  body main section#Janrlar .col-sm-4 a {
    color: black; }
  body main section#free-audio .card .col-sm-9 {
    padding-top: 15px;
    padding-right: 35px; }
    body main section#free-audio .card .col-sm-9 p {
      color: #858585; }
    body main section#free-audio .card .col-sm-9 a {
      position: absolute;
      right: 25px;
      top: 10px; }
    body main section#free-audio .card .col-sm-9 .progress {
      height: 5px;
      position: relative;
      overflow: visible;
      margin-top: 35px;
      background-color: transparent;
      border: 1px solid #f1f1f1; }
      body main section#free-audio .card .col-sm-9 .progress .progress-bar {
        background-color: #9c6ab1;
        border-radius: 20px; }
      body main section#free-audio .card .col-sm-9 .progress button {
        position: absolute;
        left: 0;
        top: -17px;
        width: 40px;
        height: 40px;
        background-color: #59077c;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center; }
    body main section#free-audio .card .col-sm-9 .d-flex.justify-content-between {
      margin-top: 25px;
      align-items: center;
      color: #858585; }
      body main section#free-audio .card .col-sm-9 .d-flex.justify-content-between button {
        background-color: #59077c;
        color: #ffffff;
        border-radius: 10px; }
  body main section#free-audio .btn.font-family-semi-bold.px-3 {
    background-color: #59077c;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    color: white; }
  body main section#footer {
    background-image: url("../images/footer_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 250px;
    color: #fff; }
    body main section#footer a {
      color: white; }
    body main section#footer .col-lg-3 .nav {
      display: flex !important;
      flex-direction: column; }
      body main section#footer .col-lg-3 .nav .nav-item .nav-link {
        padding-top: 0;
        padding-bottom: 1px; }
        body main section#footer .col-lg-3 .nav .nav-item .nav-link p {
          margin-bottom: 4px; }
    body main section#footer .col-lg-4 a {
      font-size: 14px; }
    body main section#footer .col-lg-4 .mail .icon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      margin-top: 2px; }
    body main section#footer .col-lg-4 .mail .mb-2 {
      text-align: left; }
    body main section#footer .col-lg-4 .phone .icon {
      width: 22px;
      height: 22px;
      margin-right: 5px;
      margin-top: 7px; }
    body main section#footer .col-lg-4 .phone .d-flex a {
      text-align: left; }
    body main section#footer .col-lg-4 .location .icon {
      width: 23px;
      height: 23px;
      margin-right: 5px;
      margin-top: 7px; }
    body main section#footer .col-lg-4 .location .w-100.aaa {
      text-align: left; }
    body main section#footer .box-purple {
      border-top: 1px solid whitesmoke;
      background-color: #59077c;
      height: 186px;
      position: absolute;
      bottom: 7px;
      left: 0; }
    body main section#footer .click {
      width: 380px;
      border-radius: 10px;
      padding: 15px;
      text-align: center; }
      body main section#footer .click img {
        width: 100px;
        height: 35px; }

@media (max-width: 992px) {
  body .navbar .input-group {
    margin-left: 0;
    width: 100%;
    margin-top: 20px; }
  body main section#videos .nav {
    flex-direction: column;
    text-align: center;
    align-items: center; }
  body main section#books .nav {
    flex-direction: column;
    text-align: center;
    align-items: center; }
  body main section#footer {
    padding-top: 300px; }
    body main section#footer .container .row {
      text-align: center; }
      body main section#footer .container .row .col-lg-5 .row .col-8 h6, body main section#footer .container .row .col-lg-5 .row .col-8 p {
        text-align: left; }
      body main section#footer .container .row .col-lg-3 {
        margin-bottom: 15px; }
        body main section#footer .container .row .col-lg-3 .nav {
          margin: 3px auto; }
      body main section#footer .container .row .col-lg-4 p:nth-child(1) {
        margin: 18px auto; }
      body main section#footer .container .row .col-lg-4 .phone .d-flex.flex-column a {
        text-align: left; }
      body main section#footer .container .row .col-lg-4 .location .w-100 {
        width: 250px !important;
        text-align: left; }
    body main section#footer .click {
      width: 30%;
      padding: 5px;
      left: 130px;
      bottom: 180px; }
      body main section#footer .click img {
        width: 60px;
        height: 30px; } }
@media (max-width: 500px) {
  body .navbar .navbar-brand {
    align-items: center !important; }
    body .navbar .navbar-brand img {
      width: 70px; }
    body .navbar .navbar-brand p {
      font-size: 8px; }
    body .navbar .navbar-brand h6 {
      font-size: 10px; } }
@media (max-width: 576px) {
  body header .carousel .carousel-indicators {
    margin-bottom: 5px; }
    body header .carousel .carousel-indicators li {
      width: 5px;
      height: 5px; }
      body header .carousel .carousel-indicators li.active {
        width: 11px;
        height: 11px; }
  body main section#free-audio .card .col-sm-9 {
    padding-left: 30px;
    padding-bottom: 15px; }
  body main section#Janrlar .container .row {
    text-align: center; }
    body main section#Janrlar .container .row .col-sm-4 {
      margin-bottom: 20px; }
  body main section#footer {
    padding-top: 300px; }
    body main section#footer .container .row {
      text-align: center; }
      body main section#footer .container .row .col-lg-5 .row .col-8 h6, body main section#footer .container .row .col-lg-5 .row .col-8 p {
        text-align: left; }
      body main section#footer .container .row .col-lg-3 {
        margin-bottom: 15px; }
        body main section#footer .container .row .col-lg-3 .nav {
          margin: 3px auto; }
      body main section#footer .container .row .col-lg-4 p:nth-child(1) {
        margin: 18px auto; }
      body main section#footer .container .row .col-lg-4 .phone .d-flex.flex-column a {
        text-align: left; }
      body main section#footer .container .row .col-lg-4 .location .w-100 {
        width: 250px !important;
        text-align: left; }
    body main section#footer .container .click {
      width: 35%;
      padding: 5px;
      margin-left: 60px; }
      body main section#footer .container .click img {
        width: 45px;
        height: 20px; } }
@media (max-width: 992px) {
  body section#footer .container .click {
    width: 30%;
    padding: 5px;
    margin-left: 60px; }
    body section#footer .container .click img {
      width: 50px;
      height: 20px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  body section#footer .container .row .col-lg-5 .row .col-8 {
    margin-left: 10px; } }

/*# sourceMappingURL=main.css.map */
